.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal{
    border:1px solid green;
    height:200px;
    width:200px;

} 
 img{
     width:200px;
 } 


 jumbotron {
    background-image: url("../images/jumbotron-bg.jpg");
    background-size: cover;
  
   }
  
   .jumbotron h1 {
    color: #000;
    text-shadow: 3px 3px #fff;
  
   }
  
   .instructions {
    text-align: center; 
  }
  
 